body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: calc(100% - 3em);
}

header > * {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

.header__user {
  align-items: center;
  display: flex;
  gap: 1em;
}

.user__img {
  aspect-ratio: 1;
  border: 2px solid;
  border-radius: 50%;
  height: 2em;
}

.search {
  display: flex;
}

.search label {
  display: flex;
  gap: 0.5em;
}

.results {
  display: grid;
  gap: 2em;
  padding: 0;
}

.result {
  align-items: center;
  background-color: #ddd;
  display: flex;
  gap: 1em;
  min-height: 6em;
  max-width: 25vw;
  padding: 1em;
  width: 100%;
}

.result__img {
  border: 1px solid;
  max-width: 100px;
}

.reviews {
  display: grid;
  gap: 1em;
}

.review {
  border: 1px solid;
  display: grid;
  grid-template-columns: 30% auto;
  padding: 1em;
}

.review > img {
  max-width: 300px;
}

.review__content {
  display: flex;
  flex-direction: column;
}

.review__controls {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.game__img {
  display: block;
  margin: 1em auto;
  max-width: 500px;
}

.modal-backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  height: 100dvh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 100;
}

.review-modal {
  margin: auto;
}

.modal-backdrop button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.formBox {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(2, 2, 2);
  display: block;
  text-align: center;
  background-color: rgb(0, 255, 98);
}

.formBox h3 {
  text-align: center;
}
.formBox form {
  display: block;
  text-align: center;
}

.formBox input {
  width: 18px;
}

.formBox textarea {
  height: 150px;
}

.addReviewbutton {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.createdBy {
  text-align: center;
}

.AbouthAPIgamr {
  text-align: center;
}
