@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Sometype+Mono:wght@400;500;600;700&display=swap");

body {
  background-color: #1f2041;
  color: #fbfbfb;
  font-family: "Sometype Mono", monospace;
  font-weight: 400;
  margin: 0;
}

a {
  color: #d8315b;
}

button {
  font: inherit;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100% !important;
}

main {
  padding-block: 1em 3em;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: calc(100% - 3em);
}

h1 {
  font-family: "Chakra Petch", monospace;
  font-weight: 600;
  font-size: 2.5rem;
}

header > * {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: #d8315b;
  color: #fbfbfb;
  display: grid;
  grid-template-rows: auto 1fr;
  position: fixed;
  height: 100dvh;
  padding: 1em;
  right: -1000vw;
  width: 60vw;
  top: 0;
  visibility: hidden;
  z-index: -100;
}

nav.show {
  right: 0;
  visibility: visible;
  z-index: 1000;
}

.nav__close {
  background-color: transparent;
  border: none;
  color: inherit;
  aspect-ratio: 1;
  height: 2em;
  margin-left: auto;
  font-size: 3rem;
  font-weight: 700;
}

nav a {
  color: inherit;
}

nav ul {
  display: grid;
  grid-template-rows: auto;
  gap: 1em;
  height: 25%;
  list-style: none;
}

.header__user {
  display: grid;
  height: 25%;
  gap: 1em;
  margin-bottom: 3em;
}

.user__greeting {
  align-items: center;
  display: flex;
  gap: 0.5em;
  margin-left: auto;
}

.header__user > button {
  margin-left: auto;
  padding: 1em;
  width: fit-content;
}

.user__img {
  aspect-ratio: 1;
  border: 2px solid;
  border-radius: 50%;
  height: 2em;
}

.search {
  display: flex;
}

.search label {
  display: flex;
  gap: 0.5em;
}

.results {
  display: grid;
  gap: 2em;
  padding: 0;
}

.result {
  align-items: center;
  background-color: #ddd;
  display: flex;
  gap: 1em;
  min-height: 6em;
  max-width: 25vw;
  padding: 1em;
  width: 100%;
}

.result__img {
  border: 1px solid;
  max-width: 100px;
}

.reviews {
  display: grid;
  gap: 1em;
}

.review {
  border: 1px solid;
  display: grid;
  padding: 1em;
}

.review > img {
  max-height: 150px;
}

.review__content {
  display: flex;
  flex-direction: column;
}

.review__controls {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.game__img {
  display: block;
  margin: 1em auto;
  max-width: 500px;
}

.modal-backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  display: flex;
  height: 100dvh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 100;
}

.review-modal {
  margin: auto;
}

.modal-backdrop button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.formBox {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 2px solid #d8315b;
  display: block;
  text-align: center;
  background-color: #1f2041;
  color: #fbfbfb;
}

.formBox h3 {
  text-align: center;
}
.formBox form {
  display: block;
  text-align: center;
}

.formBox input {
  width: 18px;
}

.formBox textarea {
  height: 150px;
}

.addReviewbutton {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.createdBy,
.aboutPersonal,
.aboutOurUni,
.aboutFeaturesWe {
  text-align: center;
}

.AbouthAPIgamr {
  text-align: center;
}

.aboutOur {
  border: 1px solid;

  padding: 1em;
}
.aboutFeatures {
  box-sizing: border-box;
  border: 1px solid;
  border-color: #fbfbfb;
  padding: 1em;
}

.aboutJoin {
  box-sizing: border-box;
  border: 1px solid;
  border-color: #fbfbfb;
  padding: 1em;
  text-align: center;
}

.createdBy {
  color: #d8315b;
}
